<footer class="p-4 border-t border-gray-500 flex justify-center items-center">
  <div class="pr-6">
    <h3 class="text-lg">AIBuddies</h3>
    <p>
      AIBuddies is like a hangout spot for AI geeks and fans. We chat about cool
      AI stuff and share what's new and exciting in the world of Artificial
      Intelligence. Whether you're an expert or just curious, there's always
      something fun to dive into here. Join the gang and let's geek out
      together!
    </p>
  </div>
  <div class="shrink-0 pl-4 md:pl-12">
    <a
      href="https://discord.gg/uhzx9sGMwt"
      target="_blank"
      class="text-blue-700 underline">Discord</a
    >
    <!-- prettier-ignore -->
    <a href="#" target="_blank" class="text-blue-700 underline">Twitter(X)</a>
  </div>
</footer>
