<aside
  class="border-r border-gray-500 py-4 px-8 min-h-screen h-auto flex-shrink-0"
>
  <ul>
    <li>
      <a href="/" class="text-lg text-gray-800 mb-3 block">View All</a>
    </li>
    <li>
      <a href="/text-ai-tools" class="text-lg text-gray-800 mb-3 block"
        >Text processing</a
      >
    </li>
    <li>
      <a href="/image-ai-tools" class="text-lg text-gray-800 mb-3 block"
        >Image generation</a
      >
    </li>
    <li>
      <a href="/audio-ai-tools" class="text-lg text-gray-800 mb-3 block"
        >Audio generation</a
      >
    </li>
    <li>
      <a href="/video-ai-tools" class="text-lg text-gray-800 mb-3 block"
        >Video generation</a
      >
    </li>
    <li>
      <a
        href="/coding-assistance-ai-tools"
        class="text-lg text-gray-800 mb-3 block">Cod assistance</a
      >
    </li>
  </ul>
</aside>
